body {
  margin: 0;
  font-family: "Archivo Black", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(0, 0, 0, 0.9);
  background-image: url("https://i.imgur.com/xr1ZZp9.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
body * {
  box-sizing: border-box;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media (max-width: 720px) {
  body {
    background-size: inherit;
  }
}
